.chat-input{
  position: sticky;
  bottom: 0;
}

.ch-input-field{
  margin-bottom: 0 !important;
}

/* send button */
.ch-button{
  background-color: #000000;
  border-radius: 10%;
  border: none;
  cursor: pointer;
}