.product-preview-image{
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  height: 70vh;
  width: 100%;
}

/* if screen size is less than or equal to 766px change height of the image*/
@media screen and (max-width: 766px) {
  .product-preview-image{
    height: 40vh !important;
  }
}